body{
    background: no-repeat fixed  url("3d-black-technology-abstract-background-overlap-layer-on-dark-space-with-silver-stripe-effect-decoration-graphic-design-element-future-style-concept-for-flyer-brochure-cover-or-landing-page-vector.jpg");
    color: gold;
    text-align: center;
}
